body{margin:0 auto; font-family:Arial, Helvetica, sans-serif;}
p, a, img, h1, h2, h3, h4, h5{margin:0px; padding:0px; text-decoration:none; color:#333; border:none;}
img {border:none;}
.data{ color:#333; font-size:10px; margin:0px; padding:0px;}
#bgGeral{width:100%; margin:0px auto; text-align:left; text-align:center;}

/*							TOPO						*/
#bgTopo{background-image:url(../images/bgTopo2.jpg); background-repeat:repeat-x; height:122px; width:100%; }
#topo{ margin:0px auto;  width:970px; height:122px; border:0px solid #000066; text-align:left; background-image:url(../images/bgTopo3.jpg);}
#logo{float:left;}
#logo a img{border:0px solid; padding-top:10px;}
#imgsTopo{background-image:url(../images/topoImg.png); background-repeat:no-repeat; height:120px; width:586px; float:right;}


/*							MENU						*/
#bgMenu{background-image:url(../images/bgMenu.jpg); background-repeat:repeat-x; width:100%; height:35px; float:left;}
.menu-central{width:970px; margin:0 auto; text-align:left;}

#linha{background-image:url(../images/linha.jpg); background-repeat:repeat-x; height:10px; width:100%; margin:0px; float:left;}

/*							CORPO						*/
#bgCorpo{background:#FFFFFF; width:100%; height:auto; float:left; margin-bottom:15px;}
#corpo{width:970px; height: auto; margin:0 auto; text-align:left; }
.titulo{color:#E80000; font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin-top:20px;}
#coluEsq{width:720px; float:left;}
#destaque{width:720px; height:298px;}
#slide_painel{    float: left;    width: 720px;    height: 298px;    overflow: hidden;    position: relative;}

#avisoNovidade{width:720px; height:385px; background-color:#F4F4F4; border:0px solid #000000;}
#aDestaque{width:347px; float:left; margin-top:10px; margin-left:10px;}
#aDestaque a h2{ color:#E80000; font-size:14px; font-weight:bold; margin:0px;}
#aDestaque a p{ font-size:13px; margin:0px;}
#aDestaque  img { border:1px solid #CCC; }

#painelMenu{float:right; margin-bottom:10px;}
#painelMenu ul{ margin-top:10px; margin-right:10px; }
#painelMenu ul li{ text-align:center; width:80px; height:23px; border:1px solid #DFDFDF; list-style:none; float:left; background-color:#FFFFFF; padding-top:3px;}
#painelMenu ul li a{ margin-top:3px; font-size:14px;}

#listNovidades{width:341px; float:right;}
#listNovidades br{ margin:-5px;}
#listNovidades a h2{ color:#E80000; font-size:14px; font-weight:bold; margin:0px;}
#listNovidades a p{ font-size:12px; margin:0px;}
.itemListaNovidades{}
.itemListaNovidades a h2{ color:#E80000; font-size:14px; font-weight:bold; margin:0px;}
.itemListaNovidades a p{ font-size:12px; margin:0px;}

#galeriaMult{width:720px; height:247px; }
#galeriaMult h5{font-size:13px; font-weight:normal; margin:3px; padding:0px;}

#itemMult{ float:left; width:205px; margin-right:35px;}	#itemMult:last-child{ margin-right:0px; }
#itemMult h1{ font-size:20px; margin-top:0px;}
#itemMult img{ border:1px solid #CCC;  }
#itemMult p{ font-size:13px;}

.fotos{color:#804000;}
.videos{color:#400040;}
.downloads{color:#004040; padding:0px; margin:0px;}

.coluDir{ width:225px; float:right; }

#pesquisa{ float:left; margin-bottom:20px; margin-top:15px; margin-left:0px; width:220px; }
#pesquisa h1{color:#E80000; font-size:20px; margin-bottom:3px; }
#pesquisa .txt{border:1px solid #CCCCCC; width:183px; height:27px; margin-bottom:3px; float:left;margin-top: 0px;}
#pesquisa .btn{background-image:url(../images/icoPesq.jpg); height:30px; width:30px; border:none; margin-left:2px; margin-bottom:0px; float:left;}
#pesquisa p a{text-decoration:none; color:#E80000; font-size:10px; font-weight:bold;}

#enquete{ width:220px; background-color:#F4F4F4;  padding:2px; float:left; margin-bottom:20px;}
#enquete h3{ margin:5px;}
#enquete .radio{ margin-right: 3px; padding: 1px; font-family: Arial; font-size: 14px;}
.btnE{background-image:url(../images/btnE.jpg); background-repeat:no-repeat; width:80px; height:28px; border:none; float:right; margin-right:5px; margin-top:8px;}

#agenda{ width:220px; background-color:#F4F4F4; padding-top:1px; float:left; margin-bottom:20px; }
.itemEvento{ width:200px; height:60px; margin-left:10px; margin-top:10px; float:left;}
.itemEvento a img{ width:80px; height:60px; border:1px solid #CCC; float:left; margin-right:5px;}
.itemEvento a p{font-size:12px; color:#E80000; font-weight:bold;}
.btnA{background-image:url(../images/btnA.jpg); background-repeat:no-repeat; width:140px; height:28px; border:none; float:right; margin-right:5px; margin-top:8px;}

#banners{ width:220px;}
.banner{width:220px; height:90px; margin-top:10px; margin-bottom:20px;}

/*							RODAPE						*/
#bgRodape{ width:100%; height:91px; background-image:url(../images/bgTopo2.jpg); background-repeat:repeat-x; float:left;}
#rodape{width:970px; margin:0 auto; margin-top:20px; text-align:left; color:#FFF; background-image:url(../img/bgTopo2.jpg);}
.endereco{ width:186px; float:left; margin-right:20px; color:#FFF;}
.endereco p{font-size:12px;}

.contato{ width:237px; border-left:1px solid #FFF; padding-left:20px; float:left; margin-right:20px; font-family:Arial, Helvetica, sans-serif;}
.contato p{font-size:12px;}
.social{ width:284px; height:38px; float:left; margin-top:10px; margin-left:40px;}
.social ul{margin:0px; padding:0px;}
.social li{float:left; list-style:none; margin:3px; }
.red{color:#E80000; font-weight:bold;}
.orange{color:#FF9900; font-weight:bold;}
.white{ color:#FFF;}

/*-----------------------------------MOSTRAR---------------------------------------------*/
#pgMostrar{width:720px; float:left; }


#Mostrar{width:720px; float:left; background-color:#F4F4F4;}
#Conteudo{ width:685px; margin:15px; float:left; padding-bottom:15px;}


#Conteudo .compConteudos  { margin-top: -25px; padding-left: 10px; display: inline; float: right; }
#Conteudo .compConteudos  ul li { display: inline; }

#Conteudo img{ float:left; margin-right:10px; border: 1px solid #CCC;}
#Conteudo h2{ font-size:22px; color:#E80000; font-weight:bold;  margin-top:5px;}
#Conteudo h3{ font-size:12px; font-weight:normal; margin-top:5px;}
#Conteudo p{ font-weight:100; text-align: justify;  margin-top:10px;}
#Conteudo b{ margin:0px; padding:0px; float:left;}
#Conteudo h6{ font-size:10px; font-weight:normal; margin:0px; margin-top:3px; margin-left:3px; float:left; }

#Album{ padding-bottom:15px; float:left; }

.tituloAlbum{background-image:url(../images/tAlbum.png); background-repeat:no-repeat; height:45px; width:269px; margin-left:15px;}
#galeria{width:690px; margin-left:5px; margin-top:15px; border:0px solid red; float:left;}
.itemAlbum{ vertical-align: top; border:1px solid #CCC; background-color:#E2E2E2; float:left; margin-left:10px; margin-bottom:10px; border:0px solid red;}

#Video{float:left; text-align:center; padding-bottom:15px;}
.tituloVideo{ background-image:url(../images/tVideo.png); background-repeat:no-repeat; height:45px; width:269px; margin-left:15px;}
.itemVideo{  border:1px solid #CCC; margin-left:80px; margin-top:15px; }
#Anexo{float:left; padding-bottom:25px;}
.tituloAnexo{ background-image:url(../images/tAnexo.png); background-repeat:no-repeat; height:55px;  width:269px; margin-left:15px;}

.textoNoticia
{
    text-align: left;
}

#pgListar{width:720px; float:left; }
#Listagem{width:720px; background-color:#F4F4F4; padding-bottom:15px;  float:left; }
.itemLista{ width:682px; float: left; border-bottom:1px solid #F2F2F2; margin-top:10px; padding-bottom:0px; margin-left:15px; border-bottom: 1px dashed white;}


.itemListaBranco{ width:682px; border-bottom:1px solid #FFFFFF; margin-top:10px; padding-bottom:0px; margin-left:15px;}

.itemLista a img{width:160px; height:121px; border:1px solid #CCC; float:left; margin-right:10px;}
.itemLista h2{ color:#E80000; font-size:16px; }
.itemLista p{ font-size:12px; font-weight:normal; }

.itemListaBranco a img{width:160px; height:121px; border:1px solid #CCC; float:left; margin-right:10px;}
.itemListaBranco h2{ color:#E80000; font-size:16px; }
.itemListaBranco p{ font-size:12px; font-weight:normal; }


.textoNoticia{ font-size: 12px; font-weight: 100; text-align: left; }

.btnN1{ width:120px; height:28px; border:none; margin-left: 400px; float:right; margin-right:5px; margin-top: -5px; }

.btnN{background-image:url(../images/btnNovidades.jpg); background-repeat:no-repeat; width:120px; height:28px; border:none; float:right; margin-right:5px; margin-top:8px;}

.btnD{background-image:url(../images/btnD.jpg); background-repeat:no-repeat; width:133px; height:28px; border:none; float:right; margin-right:5px; margin-top:8px;}
.btnF{background-image:url(../images/btnF.jpg); background-repeat:no-repeat; width:111px; height:28px; border:none; float:right; margin-right:5px; margin-top:8px;}
.btnV{background-image:url(../images/btnV.png); background-repeat:no-repeat; width:110px; height:28px; border:none; float:right; margin-right:5px; margin-top:8px;}

.btnM{background-image:url(../images/btnM.jpg); background-repeat:no-repeat; width:146px; height:28px; border:none; float:left; margin-right:0px; margin-top:20px;}

.container {
    position: absolute; 
    top: 50%; 
    left: 50%;
    margin: -300px 0 0 -470px; }
    
.content { background: url(dummy-images/coffee.jpg); }
.content h1 {
	font-size: 40px; 
	text-transform: uppercase; 
	font-weight: bold; 
	text-align: center;
	margin-top: 180px;
	color: #222;
	line-height: 50px;  }
.content h3 {
	text-align: center; 
	font-size: 22px; 
	color: #222; }
	
	.orbit-bullets li.has-thumb {
    width: 100px;
    height: 75px; }#wmfg { clear: both; float: left; }
    
    
.ArquivosDownload { font-size: 10px; margin: 5px 2px 0px 0px; color: #555; }

.paginacao { margin-top: 10px; }
.paginacao a { border: 1px solid #666; color: #666; text-decoration: none; margin-left: 1px;  padding: 3px 4px; font-size: 10px;} 
.paginacao a:hover { text-decoration: underline; font-size: 10px;}
.paginacao b { border: 1px solid #039; background-color: #E80000;; color: #FFF; font-weight: bold; font-size: 18px; padding: 3px 4px; }

.paginacao_lista
{
	font-size: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nivo-caption p{
    color: #FFFFFF !important;
}