/* CSS Document */
.timer { display: none !important; }
div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }

#busca { position: absolute; top: 45px; left: 780px; }
#galerias .item { width: 200px; margin-left: 5px;  }
#galerias .item .icon { display: none; }
#barra { float: left; width: 190px; margin-top: 10px; margin-left: 10px; padding: 10px; }
#endereco address h4, #info h4 { font-size: 10px; }