@charset "UTF-8";

/** 
 * NVIDIA CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 */


/*------------------------------------------------------------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				*(.class|:hover)
 * @level sep	ul
 */


/* ----- ALL LEVELS (incl. first) */

ul.menu {
 font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
 text-transform: uppercase;
}

	ul.menu  li {
	 padding: 7px 0;	 
	 color: #333;
	 line-height: normal;
	}

	ul.menu  li.hover,
	ul.menu  li:hover {
		 background-color: #999999;
		 color:#FFFFFF;
	}

	ul.menu  a:link,	ul.menu  a:visited { color: #333; text-decoration: none; }
	ul.menu  a:hover { color: #FFF; text-decoration: none; }
	ul.menu  a:active { color: #fff; }


/* ----- END LEVEL */


	/* ----- NON-FIRST LEVEL */

	ul.menu  ul {
	 width: 170px;
	 background-image:url(images/bgIm.png);
	 color: #E80000;
	 font-size: 13px;
	 text-transform: none;
	 filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;
	}

		ul.menu  ul li {
		 background-color: transparent;
		 color: #FFF;
		 filter: none;
		}

		ul.menu  ul li.hover,
		ul.menu  ul li:hover {
		 background-color: transparent;
		}

		ul.menu  ul a:link,
		ul.menu  ul a:visited { color: #FFF; }
		ul.menu  ul a:hover { color:#E80000; text-decoration: none; }
		ul.menu  ul a:active { color: #fff; }


/* ----- END LEVEL */



/*------------------------------------------------------------------------------------------------------/
 * @section	Support Class 'dir'
 * @level sep	ul, .class
 */


/* ----- ALL LEVELS (incl. first) */

ul.menu  *.dir {
 padding-right: 12px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

/* ----- END LEVEL */


/* Components override */

