@charset "UTF-8";

/** 
 * NVIDIA Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 */

@import "default.css";


ul.menu  li a {
 display: block;
 padding: 7px 14px;
}


/* ------------- Override default */

	ul.menu  li {
	 padding: 0;
	}


/* ------------- Reinitiate default: post-override activities  */

	ul.menu  li.dir {
	 padding: 7px 20px 7px 14px;
	}

	ul.menu  ul li.dir {
	 padding-right: 15px;
	}


/* ------------- Custom */

	ul.menu  li {
	color:#FFF;

	}

	ul.menu  ul a {
	 padding: 4px 5px 4px 14px;
	 width: 151px; /* Especially for IE */
	}

	ul.menu  ul a:hover {
	 /*background-color: #76b900;*/
	 background-image:url(images/bgIm.png);
	}

	ul.menu  a.open {
	 background-color: #2e2e2e;
	 color: #76b900;
	}

	ul.menu  ul a.open {
	/* background-color: #76b900;*/
	 
	 background-image:url(images/bgIm.png);
	 color: #FFF;
	}


	/* CSS 2.1 */

	ul.menu  li:hover > a.dir {
	
	 color: #FFF;
	}

	ul.menu  ul li:hover > a.dir {
	 
	 color: #333;
	 
	 /* background-color: #76b900;*/
	 
	 background-image:url(images/bgIm.png);
	}